.main {
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    width:100vw;
    background: url("../assets/noteBg.jpg") no-repeat center center fixed; 
    height: 100%;
    padding: 0; /* remove any pre-existing padding, just in case */
    padding-bottom: 75%; /* for a 4:3 aspect ratio */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.mainNightMode {
    background:url("../assets/blackBg.jpg");
    color: rgba(255, 255, 255, 0.89);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
}
.container {
    grid-column-start: 1;
    grid-column-end: 5;
    display:grid;
    margin-top:30px;
}
.tasks {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left:50px;
}
.Dtasks{
    grid-column-start: 3;
    grid-column-end: 5;
    margin-right: 40px;
}
ul {
    list-style-type: decimal;
    background-size: 100% 100%;
}


.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top:50%;
    left:45%;
    z-index: 1000;
    position: absolute;
  }
  @keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }

  .whiteScreen {
      height: 100vh;
      width: 100%;
      background-color:rgba(235, 235, 235, 0.4);
      position: absolute;
  }


  .settings {
      position: absolute;
      top:0px;
      left:0px;
      min-width: 200px;

  }

@media screen and (max-width: 500px) {
    .tasks {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .Dtasks{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .main {
        background: none;
    }
}
