
    Zadania wykonane: {{tasksDone.length}}
    <ul>
      <li *ngFor="let taskDone of tasksDone" appDate [date]="taskDone.end!" priority [priorityNumber]='taskDone.priority' >
       <input type='text' class='Dtask' [ngClass]= "editMode ? 'inputDtaskOn': 'inputDtask'"
       [(ngModel)]="taskDone.name" [disabled]= "!editMode"/>
        <div *ngIf="editMode">
            <button (click)="remove(taskDone)">X</button>
            <button (click)="edit(taskDone)">E</button>
        </div>
      </li>
    </ul>
