ul li {
    min-height:50px;
    border:1px solid rgba(70, 68, 68, 0.4);
}
.inputDtask {
    border-color: none; 
    background:rgba(223, 217, 217, 0.2);
    border: none;
}
.inputDtaskOn {
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}