ul li {
    min-height:60px;
    border:1px solid rgba(70, 68, 68, 0.4);
    text-align: center;
}
.inputDtask {
    border-color: none; 
    background:rgba(245, 241, 241, 0.3);
    border: none;
}
.inputDtaskOn {
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


button {
    width:30px;
    height: 30px;
    background-repeat: no-repeat;
    margin:1.5px;
    background-size: 100%;
    border: none;
    cursor: pointer;
    opacity: 0.7
}
button:hover {
    opacity: 1
}
.x {
    background-image: url('../../assets/delete-button.png');
}